<% if obj.errors.any? %>
    <p>スケジュールを登録できませんでした。</p>
    <% obj.errors.full_messages.each do |message| %>
        <ul>
            <li><%= message %></p>    
        </ul>
    <% end %>
    <% end %>